<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container mb-2">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <script>activateCars();</script>
    <!--/*@thymesVar id="car" type="pl.beny.rental.dto.CarResponse"*/-->
    <div class="mt-3">
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{car.id}" sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')"></th>
                <th th:text="#{car.make}"></th>
                <th th:text="#{car.model}"></th>
                <th th:text="#{car.colour}"></th>
                <th th:text="#{car.plate}"></th>
                <th th:text="#{car.rentable}" sec:authorize="isAuthenticated()"></th>
                <th th:text="#{car.available}" sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="align-middle" th:each="car : ${cars}">
                <td th:text="${car.id}" sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')"></td>
                <td th:text="${car.make}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.colour}"></td>
                <td th:text="${car.plate}"></td>
                <td th:if="${!car.available}" th:text="#{car.available.not}" sec:authorize="isAuthenticated()"></td>
                <td th:if="${car.available}" th:switch="${car.rentable}" sec:authorize="isAuthenticated()">
                    <form th:case="true" th:action="@{'/cars/' + ${car.id} + '/rent/'}" method="post">
                        <button class="btn btn-link p-0 align-baseline" type="submit" th:text="#{car.rent}"></button>
                    </form>
                    <span th:case="false" th:text="#{car.rented}"></span>
                </td>
                <td th:switch="${car.available}" sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">
                    <form th:action="@{'/cars/' + ${car.id} + '/available/' + ${!car.available}}" method="post">
                        <span th:case="true" th:text="#{car.yes}"></span>
                        <span th:case="false" th:text="#{car.no}"></span>
                        <button class="btn btn-link p-0 align-baseline" type="submit" th:text="#{car.change}"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>