<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container mb-2">
    <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
    <script>activateReservations();</script>
    <!--/*@thymesVar id="rsv" type="pl.beny.rental.dto.ReservationResponse"*/-->
    <div class="mt-3">
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{reservation.id}"></th>
                <th th:text="#{reservation.user}"></th>
                <th th:text="#{reservation.car}"></th>
                <th th:text="#{reservation.car.plate}"></th>
                <th th:text="#{reservation.date.start}"></th>
                <th th:text="#{reservation.date.end}"></th>
                <th th:text="#{reservation.status}"></th>
                <th th:text="#{reservation.action}"></th>
                <th th:text="#{reservation.invoice}"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="align-middle" th:each="rsv : ${reservations}">
                <td th:text="${rsv.id}"></td>
                <td th:text="${rsv.user}"></td>
                <td th:text="${rsv.car}"></td>
                <td th:text="${rsv.plate}"></td>
                <td th:text="${rsv.dateStart}"></td>
                <td th:text="${rsv.dateEnd}"></td>
                <td th:switch="${rsv.status}">
                    <form th:case="'WAITING'" th:action="@{'/reservations/' + ${rsv.id} + '/cancel'}" method="post">
                        <button class="btn btn-link p-0 align-baseline" type="submit" th:text="#{reservation.action.waiting}"></button>
                    </form>
                    <span th:case="*" th:text="${rsv.status}"></span>
                </td>
                <td th:switch="${rsv.action}">
                    <form th:action="@{'/reservations/' + ${rsv.id} + '/' + ${rsv.action}}" method="post">
                        <button th:case="'finish'" class="btn btn-link p-0 align-baseline" type="submit" th:text="#{reservation.action.finish}"></button>
                        <button th:case="'approve'" class="btn btn-link p-0 align-baseline" type="submit" th:text="#{reservation.action.approve}"></button>
                    </form>
                </td>
                <td th:switch="${rsv.invoiceAvailable}">
                    <a th:case="true" th:href="@{'/reservations/invoice/' + ${rsv.id}}" th:text="#{reservation.invoice.download}"></a>
                    <span th:case="false" th:text="'-'"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>