<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#" th:href="@{/users}" sec:authorize="hasAuthority('ADMIN')">Users<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#" th:href="@{/ads}" sec:authorize="hasAuthority('ADMIN')">Ads</a>
                <a class="nav-item nav-link" href="#" th:href="@{/categories}" sec:authorize="hasAuthority('ADMIN')">Categories</a>
                <a class="nav-item nav-link" href="#" th:href="@{/subcategories}" sec:authorize="hasAuthority('ADMIN')">Subcategories</a>
                <form name="logout" th:action="@{/logout}" method="post"><input type="hidden" value="Sign Out"/>
                    <a class="nav-item nav-link" href="javascript:document.forms['logout'].submit()"
                       sec:authorize="isAuthenticated()">Sign Out</a>
                </form>
            </div>
            </div>
        </nav>
        <div>
            <img src="/resources/giulia.jpg" class="img-fluid rounded-bottom" th:src="@{/resources/giulia.jpg}"/><br/>
        </div>
    </div>
</div>
</body>
</html>